.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  min-height: 10vh;
  background: rgb(42, 42, 59);
  
}

  nav ul li {
  display: inline-block;
  padding: 5px;
  width: 40%;
  justify-content: space-between;
  color: white; 
  list-style: none;
  
  
  

}

.text {
  color: white;
  display: inline-block;
}